.leftbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  background-color: #f5f5f5;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  width: 250px;
  padding: 0.5rem 1rem;

}


.leftbar a {
  font-size: 1.1rem;
  color: #6c757d;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  padding: 0.5rem;
  border-radius: 5px;
  width: 200px;
  text-align: left;
}

.leftbar a:hover {
  background-color:rgb(90,17,64);
  color: #fff;
}

.leftbar a.active {
  background-color:rgb(90,17,64);
  color: #fff;
  font-weight: bold;
}

.leftbar .button {
  background-color:rgb(90,17,64);
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
  text-decoration: none;
  font-weight: bold;
}

.leftbar .button:hover {
  background-color:rgb(90,17,64);
  color: #fff;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 75px);
}