
.array-container {
  padding-top: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 2px solid black;
  width: 1253px;
  /* margin-bottom: 80px; */
}
  
.array-bar {
    width: 20px;
    background-color: turquoise;
    border: 0.5px solid black;
    margin: 0 1px;
  }

.slider {
  width: 220px;
  position: absolute;
  left: 1003px;
  top: 34px;
}

#boot-btn {
  margin-right: 15px;
}

#generate-btn {
  position: relative;
  left: 93px;
  top: 71px;
}
  
.sorting-cont {
  /* background-color: black; */
  padding-left: 252px;
  /* border: 2px solid black; */
}

.buttons {
  position: relative;
  left: 461px;
  top: 41px;
}


.form-label {
  left: -57px;
    position: relative;
    top: 30px;
}

body {
  overflow-x: hidden;
  padding-top: 70px;
}

.theory-sort{
  color: black;
 
  margin-left: 270px; /* same as the width of the navbar */
  padding: 20px; /* optional, add padding to the content */

  font-size: larger;
  text-align:justify;
}

.pedhanna {
  margin-top: -80px;
  padding-left: 27px;
}

.h1ofsorting {
  position: absolute;
  top: -7px;
  left: -262px;
}

.choose-algo {
  position: absolute;
  top: 67px;
  left: 328px;
}

.h-sort{
  color:rgb(90,17,64);
}